@{
    ViewData["Title"] = "Painel do Usuário";
}


<a asp-action="AdicionarPacotes" asp-controller="Pacotes">Adicionar</a>
<a asp-action="EditarPacotes" asp-controller="Pacotes">Editar</a>
<a asp-action="ExcluirPacotes" asp-controller="Pacotes">Excluir</a>
<a asp-action="ListarPacotes" asp-controller="Pacotes">Listar</a>